<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check task</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body class = "bg-warning container d-flex flex-column">
    <div class="d-flex align-items-center justify-content-center" style = "height: 100vh;">
        <form method="POST" action="/posts/modify">
            <div class="alert alert-dark bg-secondary text-light text-center fs-3 my-5" role="alert">
                Congrats, you are getting rid of a task
            </div>
            <div class="d-flex">
                <select class = "form-select" name="idnum">
                    <% for(let i = 0; i < docs.length; i++){ %>
                        <option value = "<%-docs[i]._id%>"><%=docs[i].title%></option>
                    <%}%>
                </select>
            </div>
            <button type = "submit" class = "btn btn-lg btn-outline-secondary text-dark my-3">Check</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>