h4 {
    margin-left: 5%;
}
a:hover {
    cursor: pointer;
    color: red;
    text-decoration: line-through;
}
.seccion {
    margin-left: 3%;
}
.centrado {
    margin: auto;
}
.peque { 
    height: 10vw;
    padding: 1vw;
}
.tabbonito {
    margin-left: 10%;
}