<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <title>Twitter</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>
    <body class = "bg-dark container d-flex flex-column">
        <h2 class = "text-light display-2 d-flex justify-content-center align-items-end my-4">
            Twitter
            <small class="h3 text-muted">
                (muy real)
            </small>
        </h2>
        <div class = "d-flex justify-content-center">
            <ul class = "overflow-auto text-light list-group w-75" style = "height: 28vw">
                <% for(let p of posts){ %>
                <li class = "list-group-item bg-secondary text-light"><span class="text-dark"><i><%=p.username%>:</i></span>&emsp;<span class="h5"><%=p.post%></span></li>
                <%}%>
            </ul>
        </div>
        <div class = "d-flex flex-row justify-content-evenly my-5 container">
            <form method="GET" action="/posts/create">
                <button class = "btn btn-outline-secondary text-light btn-lg" type="submit">Add post</button>
            </form>
            <form method="GET" action="/posts/modify">
                <button class = "btn btn-outline-secondary text-light btn-lg" type="submit">Modify post</button>
            </form>
            <form method="GET" action="/posts/clear">
                <button class = "btn btn-outline-secondary text-light btn-lg" type="submit">Clear feed</button>
            </form>
            <form method="GET" action="/posts/update">
                <button class = "btn btn-outline-secondary text-light btn-lg" type="submit">Update feed</button>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </body>
</html>