body {
    background-image: url("Resources/Colorful_Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.pegadito { 
    margin: 0%;
    padding: 1%;
}